html {
	scroll-padding-top: 75px;
}

.w-full {
	width: 100%;
}

.py-8 {
	padding-top: 3rem !important;
	padding-bottom: 2rem !important;

	@media (min-width: 768px) { 
		padding-top: 3rem !important;
		padding-bottom: 5rem !important;
	}
}

.py-6 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;

	@media (min-width: 768px) { 
		padding-top: 5rem !important;
		padding-bottom: 5rem !important;
	}
}

p {
	margin: 0;
}

body {
	background-color: white;
	font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style: normal;

	nav {
		height: 75px;
		box-shadow: 0 .125rem .25rem rgba(black, .175);
		.nav-item {
			padding-left: 1rem;
			a {
				font-weight: 600;
			}
		}
	}

	.rounded-button {
		background-color: $white;
		color: $red ;
		border: none;
		border-radius: 500px;
		padding: .5rem 1.5rem !important;
	}

	.rounded-red-button {
		background-color: $red;
		color: $white ;
		border: none;
		border-radius: 500px;
		padding: .5rem 1.5rem !important;
	}
	
	.header {
		background-color: $dark-red;
		color: white;		

		.title {
			font-size: 40px;
			@media (min-width: 768px) { 
				font-size: 56px; 
			}		
		}

		.share {
			.social {
				width: 25px;
				margin: 0 5px;
				.purple {
					filter: brightness(0) saturate(100%) invert(19%) sepia(81%) saturate(4025%) hue-rotate(271deg) brightness(80%) contrast(104%);
				}
			}
		}
	}

	.insert {
		background-color: white;
		position: relative;
		z-index: 1;
		height: 100px;
		font-size: 20px;
		box-shadow: 0 .125rem .25rem rgba(black, .35);

		@media (min-width: 768px) { 
			height: 120px;
			font-size: 24px;
		}

		.logo {
			height: 65px;
		}
	}
}

.pin-icon {
	width: 25px;
}

.plus-icon {
	width: 20px;
	height: 20px;
	image-rendering: pixelated;
}

.bg-sceaux {
	background-image: url("../img/initiatives/sceaux.jpg");
	background-size: cover;
	background-position: center;
}

.bg-quimperle {
	background-image: url("../img/initiatives/quimperle.jpg");
	background-size: cover;
	background-position: center;
}

.bg-caux {
	background-image: url("../img/initiatives/caux.jpg");
	background-size: cover;
	background-position: center;
}

.bg-evian {
	background-image: url("../img/initiatives/evian.jpg");
	background-size: cover;
	background-position: center;
}

.bg-venissieux {
	background-image: url("../img/initiatives/venissieux.png");
	background-size: cover;
	background-position: center;
}

.bg-strasbourg {
	background-image: url("../img/initiatives/strasbourg.jpg");
	background-size: cover;
	background-position: center;
}

.bg-toul {
	background-image: url("../img/initiatives/toul.png");
	background-size: cover;
	background-position: center;
}

.form-block {
	background-color: white;
	.border-black {
		border: 1px solid black;
	}
	input {
		background-color: white;
		border: none;
		border-bottom: 1px solid black;
		padding-bottom: 8px;

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: black;
			opacity: 1; /* Firefox */
		}

		&[type="radio"] {
			/* Add if not using autoprefixer */
			-webkit-appearance: none;
			/* Remove most all native input styles */
			appearance: none;
			/* For iOS < 15 */
			background-color: var(--form-background);
			/* Not removed via appearance */
			margin: 0;
			font: inherit;
			color: currentColor;
			width: 1.15em;
			height: 1.15em;
			border: 0.1em solid currentColor;
			border-radius: 50%;
			transform: translateY(-0.075em);
			display: grid;
			place-content: center;
			padding-bottom: 0;

			&::before{
				content: "";
				width: 0.65em;
				height: 0.65em;
				clip-path: circle(50% at 50% 50%);
				transform: scale(0);
				transform-origin: bottom left;
				transition: 120ms transform ease-in-out;
				box-shadow: inset 1em 1em $black;
			}

			&:checked::before {
				transform: scale(1);
			}
		}

		@media (max-width: 768px) {
			&[type="radio"] {
				height: 1em;
				&::before{
					width: 0.8em;
				}
			}
		}

		&[type="submit"] {
			background-color: $red;
			color: white;
			font-weight: 700;
			border: none;
			border-radius: 500px;
			padding: .5rem 1.5rem;
		}
	}
}

#prev-cas, #next-cas, #prev-people, #next-people {
	img {
		width: 30px;
		height: 30px;
	}
}

.carousel-img {
	width : 100px;
	height: 100px;
}

.img-protections {
	width: 250px;
	margin-top: -80px;
	margin-left: -150px;
}

.accordion-title-container {
	border-left: 1px solid white;
}

.accordion-title {
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	font-size: 24px;
}

.accordion-number {
	font-family: 'Bebas Neue', sans-serif;
	color: white;
	font-size: 36px;
}

.accordion-badge {
	color: white;
	font-size: 12px;
	padding: .2rem .5rem;
}

.footer {
	.logo {
		height: 30px;
	}

	.footer-img {
		margin-top: -60px;
		@media (max-width: 768px) {
			margin-top: 20px;
		}
	}
}