.red {
    color : $red;
}

.dark-red {
    color: $dark-red;
}

.bg-red {
    background-color: $red;
}

.bg-dark-red {
    background-color: $dark-red;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-light-green {
    background-color: $light-green;
}

.bg-light-red {
    background-color: $light-red;
}

.bg-purple {
    background-color: $purple;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-pink {
    background-color: $pink;
}