.red {
    color : $red;
}

.dark-red {
    color: $dark-red;
}

.bg-red {
    background-color: $red;
}

.bg-dark-red {
    background-color: $dark-red;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-light-green {
    background-color: $light-green;
}