 /* The flip card container */
 .flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  height: 600px;
  width: 100px;

  @media (min-width: 768px) { 
		height: 500px;
	}
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
} 

.flip-card-header {
  height: 120px;
}