// Colors
$dark-red: #BC2828;
$red : #E9364B;
$light-grey: #F4F4F4;
$light-green: #AECD3C;
$light-red: #FF5555;
$purple: #C169F3;
$yellow: #FBBC35;
$dark-blue: #4946BE;
$light-blue: #7FA7F7;
$pink: #F369BE;