// Bootstrap grid
$grid-columns: 18;

@import "bootstrap/bootstrap";
@import "variables";
@import "components/base";
@import "components/colors";
@import "components/fonts";
@import "components/flip";